#gallery {
    padding: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

#gallery > img, .photo-link{
    width: 300px;
    height: 200px;
    margin: auto;
    cursor: pointer;
}

@media (max-width: 1000px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 650px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    #gallery {
        display: flex;
        flex-direction: column;
    }
}