* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    margin-right: -4px; /*COMPENSATES THE VERTICAL SCROLLBAR*/
    overflow-x: hidden; /*REMOVES HORIZONTAL SCROLLBAR THE ABOVE CREATES*/
    margin-top: 0px; /*COMPENSATES THE HORIZONTAL SCROLLBAR*/
}